<div class="row center">
  <canvas id="board"></canvas>
</div>
<div class="row center" ng-show="!endTurnButton">
  <button ng-click="goLeft()">Idź w lewo</button>
  <button ng-click="goUp()">Idź do góry</button>
  <button ng-click="goDown()">Idź na dół</button>
  <button ng-click="goRight()">Idź w prawo</button>
</div>
<div class="row center" ng-show="atTheGate && ((mapId === 0 && gateNo != 0) || (mapId != 0))">
  <button ng-click="showText()">Co to jest?</button>
</div>
<div class="row center" ng-show="endTurnButton">
  <button ng-click="endTurn()">Odpocznij, teraz już nic nie zrobisz</button>
</div>
<div class="row center">
  <button ng-click="staySober()" ng-if="level < 4">Podążaj drogą trzeźwości</button>
</div>
<div class="row center hoverbox" ng-show="textVisible">
  <div ng-click="textVisible = false">{{ text }}</div>
</div>