<div class="row">
 <strong>World: {{ mapId }}</strong>
</div>
<div class="row">
  <canvas id="tutorial"></canvas>
</div>
<div class="row">
  <button ng-click="saveBoard()">save board</button>
</div>
<div class="row">
  <button ng-click="loadBoard()">load board</button>
</div>
<div class="row">
  <button ng-click="newBoard()">Generate new board</button>
</div>
<div class="row">
  <button ng-click="goLeft()">LEFT</button>
  <button ng-click="goUp()">UP</button>
  <button ng-click="goDown()">DOWN</button>
  <button ng-click="goRight()">RIGHT</button>
</div>
<div class="row">
  <button ng-show="atTheGate && ((mapId === 0 && gateNo != 0) || (mapId != 0))" ng-click="enterGate()">ENTER World: {{ gateNo }}</button>
</div>